@model IHMS.Models.MedicineSell
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Areas/Pharmacy/Views/Shared/MyPharmacyMaster.cshtml";
    int Sno = 0;
    string Status = string.Empty;
}

@{
    int SubTotal = 0;
    int Total = 0;
    int Discount = 0;
    int Bonus = 0;
    int subtotal2 = 0;
    int S1 = 0;
    int S2 = 0;
}

<div class="body_scroll">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Invoice</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <h5><strong>Order ID/Invoice No: </strong> @ViewBag.MedSellInvodice[0].MyMedicineSell.InvoiceNo</h5>
                        <div class="row">
                            @*<div class="col-md-6 col-sm-6">
                                    <address>
                                        <strong>ThemeMakker Inc.</strong><br>
                                        795 Folsom Ave, Suite 546 San Francisco, CA 54656<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-34636
                                    </address>
                                </div>*@
                            @*<div class="col-md-6 col-sm-6 text-right">
                                    <p class="mb-0"><strong>Order Date: </strong> Dec 02, 2019</p>
                                    <p class="mb-0"><strong>Order Status: </strong> <span class="badge badge-success">Success</span></p>
                                </div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover c_table theme-color">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Sno</th>
                                            <th scope="col">Medicine Name</th>
                                            <th class="text-center" scope="col">Discount</th>
                                            <th class="text-center" scope="col">Bonus</th>
                                            <th class="text-center" scope="col">Quantity</th>
                                            <th class="text-center" scope="col">Item Price</th>
                                            <th class="text-center" scope="col">Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.MedSellInvodice)
                                        {
                                        <tr>
                                            <td class="text-center">
                                                @{Sno++;}
                                                @Sno
                                            </td>
                                            <td>@item.MyMedicine.MedicineName</td>
                                            <td class="text-center">@item.MyMedicineSell.Dicount</td>
                                            <td class="text-center">@item.MyMedicineSell.Bonus</td>
                                            <td class="text-center">@item.MyMedicineSell.Quantity</td>
                                            <td class="text-center">@item.MyMedicineSell.SoldPrice</td>


                                            @{
                                                SubTotal = Convert.ToInt32(item.MyMedicineSell.Quantity) * Convert.ToInt32(item.MyMedicineSell.SoldPrice);

                                            }
                                            <td class="text-center">@SubTotal</td>
                                            @{
                                                Discount = item.MyMedicineSell.Dicount;
                                                Bonus = item.MyMedicineSell.Bonus;
                                                S1 = Convert.ToInt32(item.MyMedicineSell.Quantity) - Convert.ToInt32(item.MyMedicineSell.Bonus);
                                                S2 = S1 * Convert.ToInt32(item.MyMedicineSell.SoldPrice);
                                                Total += S2;
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6">
                                @*@if (Bonus == 0)
                                {
                                    <p class="text-danger">
                                    </p>
                                }
                                else
                                {
                                    <h5><b>Note</b></h5>
                                    <p class="text-danger">
                                        <b>
                                            Your Bonus Data is not Counted with your Total
                                            Bill we already subtracted this bonus data from your total Bill
                                            Thanks!
                                        </b>
                                    </p>
                                }*@
                            </div>
                            <div class="col-md-6 text-right">
                                <ul class="list-unstyled">
                                    <li class="text-danger"><strong>Discout:-</strong> @Discount</li>
                                    <li><strong>Bonus:-</strong> @Bonus</li>
                                </ul>
                                <h5 class="mb-0 text-danger">Total : Rs.@Total</h5>
                                <input type="submit" value="Print" name="Print" onclick="window.print();" class="btn btn-info" />
                                <a href="@Url.Action("AddMedicineSell","MedicineSell")" class="btn btn-primary">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


