<!doctype html>
<html lang="en">
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Edubin - LMS Education HTML Template</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/IndexAssets/images/favicon.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="~/IndexAssets/css/responsive.css">

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <!--====== PRELOADER PART START ======-->
    <!--====== HEADER PART START ======-->

    <header id="header-part">

        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><img src="~/IndexAssets/images/all-icon/map.png" alt="icon"><span>Hayatabad Peshawer</span></li>
                                <li><img src="~/IndexAssets/images/all-icon/email.png" alt="icon"><span>kiramatullahcomputer@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-opening-time text-lg-right text-center">
                            <p>Opening Hours : Monday to Saturay - 8 Am to 5 Pm</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->

        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">

                            <img src="~/assets/images/download.png" width="75" alt="User"><span class="m-l-10"></span>

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="support-button float-right d-none d-md-block">
                            <div class="support float-left">
                                <div class="icon">
                                    <img src="~/IndexAssets/images/all-icon/support.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <p>Need Help? call us free</p>
                                    <span>03145156620</span>
                                </div>
                            </div>
                            <div class="button float-left">
                                <a href="@Url.Action("SignIn","PatientAccount","Patient")" class="main-btn">SignIn/SignUp</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->

        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="active" href="@Url.Action("Index","Indexview","Patient")">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AboutUs","Indexview","Patient")">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Department","Indexview","Patient")">Treatments</a>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Doctor","Indexview","Patient")">Our Doctors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("MyAppointment","Dashboard","Patient")">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("ContactUs","Indexview","Patient")">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            <ul>
                                <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div> <!-- right icon -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>

    </header>

    <!--====== HEADER PART ENDS ======-->
    <!--====== SEARCH BOX PART START ======-->

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->
    <!--====== TEACHERS PART ENDS ======-->
    <!--====== PUBLICATION PART START ======-->
    <!--====== NEWS PART ENDS ======-->
    <!--====== PATNAR LOGO PART START ======-->

   
    <section class="content">
        @RenderBody()
    </section>
    <!--====== PATNAR LOGO PART ENDS ======-->
    <!--====== FOOTER PART START ======-->

    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                                <a href="#"><img src="~/IndexAssets/images/logo-2.png" alt="Logo"></a>
                            </div>
                            <p>
                                After request of Appointment use must wait for Doctor response.
                            </p>
                        <ul class="mt-20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="@Url.Action("Index","Indexview","Patient")"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="@Url.Action("AboutUs","Indexview","Patient")"><i class="fa fa-angle-right"></i>About us</a></li>
                                <li><a href="@Url.Action("Department","Indexview","Patient")"><i class="fa fa-angle-right"></i>Treatments</a></li>
                               
                            </ul>
                            <ul>
                                <li><a href="@Url.Action("Doctor","Indexview","Patient")"><i class="fa fa-angle-right"></i>Our Doctors</a></li>
                                <li><a href="@Url.Action("MyAppointment","Dashboard","Patient")"><i class="fa fa-angle-right"></i>Blog</a></li>
                                <li><a href="@Url.Action("ContactUs","Indexview","Patient")"><i class="fa fa-angle-right"></i>Contact</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                   
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>Peshawer Hayatabad</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>+92 3498264236</p>
                                        <p>+92 3145156620</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="cont">
                                        <p>kiramatullahcomputer@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->

        
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TP PART START ======-->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!--====== BACK TO TP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/IndexAssets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/IndexAssets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/IndexAssets/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/IndexAssets/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/IndexAssets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/IndexAssets/js/waypoints.min.js"></script>
    <script src="~/IndexAssets/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/IndexAssets/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/IndexAssets/js/jquery.nice-number.min.js"></script>

    <!--====== Count Down js ======-->
    <script src="~/IndexAssets/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/IndexAssets/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/IndexAssets/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/IndexAssets/js/main.js"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="~/IndexAssets/js/map-script.js"></script>

</body>
</html>