@model IHMS.Models.MedicineSell
@{
    ViewBag.Title = "MedicineSell";
    Layout = "~/Areas/Pharmacy/Views/Shared/MyPharmacyMaster.cshtml";
    int Sno = 0;
    string Status = string.Empty;
}



<div class="card">
    <div class="body col-md-12">
        <div class="row">
            <input type="hidden" id="hdnmedsellId" />
            <div class="col-md-6">
                <div class="form-group">
                    <label>Medicine *</label>
                    <div class="form-group form-float" onchange="validdateDropDowns('#ddlmed', '#msgmed', 'Medicine Name')" id="ddlmed"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Invoice *</label>
                    @Html.TextBoxFor(Model => Model.InvoiceNo, new { @class = "form-control", @Type="disabled" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Quantity *</label>
                    <input type="number" onchange="validdate('#txtquantity', '#msgquantity', 'Quantity');" id="txtquantity" class="form-control" />
                    <span class="text-danger" id="msgquantity"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sold Price *</label>
                    <input type="number" onchange="validdate('#txtprice', '#msgprice', 'Price');" id="txtprice" class="form-control" />
                    <span class="text-danger" id="msgprice"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Discount *</label>
                    <input type="number" onchange="validdate('#txtdiscount', '#msgdiscount', 'Discount');" id="txtdiscount" class="form-control" />
                    <span class="text-danger" id="msgdiscount"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Bonus *</label>
                    <input type="number" onchange="validdate('#txtbonus', '#msgbonus', 'Bonus');" id="txtbonus" class="form-control" />
                    <span class="text-danger" id="msgbonus"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-primary" id="btnSubmit" onclick="AddMore();">Add</button>

                    @using (Html.BeginForm("AddMedicineSell", "MedicineSell", FormMethod.Post))
                    {

                            <input type="submit" name="Confirm" value="Confirm" class="btn btn-danger" />
                    }
                    @*<button class="btn btn-primary" id="btnSubmit" onclick="Confirm();">Confirm</button>*@
                    <span class="text-red">@TempData["Message1"]</span>
                    <span class="text-red">@TempData["Message2"]</span>
                    <span class="text-red">@TempData["Message3"]</span>
                    
                </div>
            </div>
        </div>

    </div>
</div>
                    

<div class="col-md-12 table-responsive">
    <table class="table table-bordered">
        @if (ViewBag.MedicineList != null)
        {
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>MedicineName</th>
                    <th>InvoiceNo</th>
                    <th>Quantity</th>
                    <th>SoldPrice</th>
                    <th>Discount</th>
                    <th>Bonus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.MedicineList)
                {
                    <tr>
                        <td>
                            @{ Sno++;}
                            @Sno
                        </td>
                        <td>@item.MyMedicine.MedicineName</td>
                        <td>@item.MyMedicineSell.InvoiceNo</td>
                        <td>@item.MyMedicineSell.Quantity</td>
                        <td>@item.MyMedicineSell.SoldPrice</td>
                        <td>@item.MyMedicineSell.Dicount</td>
                        <td>@item.MyMedicineSell.Bonus</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

@Html.Partial("_MedicineSell")

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/IHMSJS/iziToast.css" rel="stylesheet" />
<script src="~/IHMSJS/iziToast.js"></script>
<script src="~/IHMSJS/PharmacyJS/MedSell.js"></script>



