@model IEnumerable<IHMS.Models.Inpatient>
@{
    int Sno = 0;
}
<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
        <tr>
            <th>Sno:</th>
            <th>Patient</th>
            <th>Room No</th>
            <th>Doctor</th>
            <th>Date Of Admit</th>
            <th>Date of Discharge</th>
            <th>Advance</th>
            <th>Dieases Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="mytable">
        @foreach (var item in ViewBag.inpatient)
        {
        <tr>
            <td>
                @{ Sno++;}
                @Sno
            </td>
            <td>@item.MyPatient.Name</td>
            <td>@item.MyRoom.RoomNo</td>
            <td>@item.MyDoctor.DoctorName</td>
            <td>@Convert.ToDateTime(item.MyInpatient.DateofAdmit).ToString("ddd dd MMM, yyyy")</td>
            <td>@Convert.ToDateTime(item.MyInpatient.DateofDischarge).ToString("ddd dd MMM, yyyy h:mm tt")</td>
            <td>@item.MyInpatient.Advance</td>
            <td>@item.MyInpatient.DieaseName</td>
            <td>
                @*@Html.ActionLink(" ", "AddDoctorSchedule", new { DsId = item.MySchedule.ScheduleId },
            new { @class = "ri-pencil-line mr-0 badge bg-success mr-2" })*@

                <button type="button" class="btn btn-primary" onclick="Edit(@item.MyInpatient.AdmitId);">Edit</button>

            </td>
        </tr>
        }
    </tbody>
</table>